.books-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book__image {
  display: inline-block;

  &.favorite {
    outline: 3px solid gold;
  }

  &.hidden {
    filter: grayscale(100%);
    opacity: 0.3;
  }
}